#sideNavBar {
    width: 30%;
    height: 100%;
    background-color: rosybrown;
    text-align: right;
    float: left;
    padding-right: 0pt;

}

#sideNavBar ul {
    list-style-type: none;
}

#sideNavBar a:hover {
    background-color: skyblue;
}

/* #sidebar li a {
    text-decoration: underline;
    display: block;
    width: 100%;
    height: 100%;
} */
